{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_field %}
{% block content %}
  <h1>Tasks List <a href="{% url 'tasks:task-create' %}" class="btn btn-primary">Create</a></h1>  <form method="get" action="" class="form-inline">
    <form>
    {{ search_form|crispy }}
    <input class="btn btn-secondary" type="submit" value="🔍">
  </form>
  {% if task_list %}
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Deadline</th>
        <th>Completed</th>
        <th>Priority</th>
        <th>Type</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for task in task_list %}
        <tr>
          <td>{{ task.id }}</td>
          <td>
            <a href="{% url 'tasks:task-detail' pk=task.id %}">{{ task.name }}</a>
          </td>
          <td>{{ task.deadline }}</td>
          <td>{{ task.is_completed }}</td>
          <td>{{ task.priority }}</td>
          <td>{{ task.task_type }}</td>
          <td>
            <a href="{% url 'tasks:task-update' pk=task.id %}">
            UPDATE
            </a>
          </td>
          <td>
            <a href="{% url 'tasks:task-delete' pk=task.id %}" style="color: red">
            DELETE
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
    <p>There are no tasks.</p>
  {% endif %}
{% endblock %}